@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Pacifico&display=swap');

// COLORS

$main-green: #c1f1da;
$button-green: #aedac5;
$grey: #828282;
$card-border-grey: #c6c6c6;
$background-color: #f5f3f4;

// BORDER

$border-radius: 5px;

// FONTS
$base-font: 'Montserrat', sans-serif;
$content-font-size : 14px;
$avatar-name-font-size : 10px;
$com-font-size : 14px;
$date-font-size : 10px;
