@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Pacifico&display=swap');

// COLORS

$main-green: #c1f1da;
$input-background-green: #e6f4ed;
$button-green: #aedac5;
$grey: #828282;
$card-border-grey: #c6c6c6;
$background-color: #f5f3f4;

// BORDER

$border-radius: 5px;

// FONTS
$base-font: 'Montserrat', sans-serif;
$content-font-size : 14px;
$avatar-name-font-size : 10px;
$com-font-size : 14px;
$date-font-size : 10px;


// test
// couleur de base : #c1f1da
// bleu un peu vert : #83c5be non
// vert un peu bleu : #cce3de non
// vert de gris : #B8C2B6 non
// vert 1 : #C9D7D3 non
// vert 2 : #A0AE9F non
// jaune rosé : #E59A63 non
// ocre doré : #B38F57 non
// jaune retro : #D0A662
