<div class="form-post">
    <div class="form-post-header" id="headingOne">
      <i class="fa-regular fa-comment"></i>
      <button class="btn hover-green" data-bs-toggle="collapse" data-bs-target="#collapse<%=post.id%>" aria-expanded="false" aria-controls="collapse<%=post.id%>">
        Commenter
      </button>
    </div>
  </div>
