.button-green {
  height: 38px;
  border-radius: 35px;
  padding: 3px;
}

#message_content {
  border-radius: 35px;
}

.mess-content {
  // border: 1px solid lightgray;
  background-color: rgb(195, 219, 227);
  border-radius: 32px;
  padding: 8px 15px;
  // overflow: overlay;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.chatroom-header {
  font-family: $headers-font;
  display: grid;
  grid-template-columns: 1fr 9fr;
  align-items: center;
  background-color: $main-green;
  padding: 10px;
  position: fixed;
  top: 0;
  z-index: 20;
  width: 100%;

  .chatroom-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 16px;

    p{
      margin: 0;
      padding: 0;
      color: $grey;
      font-size: 30px;
    }

    img {
      height: 30px;
      margin-right: 10px;
    }
  }
  .icons {
    font-size: 24px;
  }
}

.fleche {
  font-size: 31px;
  margin-left: 5px;
}

.title-chatrooms {
  text-align: center;
  font-family: $headers-font;
  font-weight: bold;
  color: gray;
}

.messages {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.name-message {
  color: $grey;
  margin: 0px 8px 2px 8px;
}

.date {
  font-size: 10px;
  margin: -10px 8px 20px 8px;
}

.mess {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-self: flex-start;
}

.button {
  border-radius: $border-radius;
  background-color: $button-green;
  border: none;
  width: 15%;
  padding: 5px;
  text-align: center;
  margin-bottom: 30px;
}


.button-chat {
  border: none;
  background-color: $button-green;
  text-align: center;
  border-radius: 10%;
  color: white;
  font-weight: bolder;
  font-size: 34px;
  position: fixed;
  bottom: 12vh;
  left: 75vw;
  height: 50px;
  width: 50px;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.button-chat:hover {
  background-color: transparent;
  border: 1px solid;
  color: $button-green;
  transition: all .3s;
}

.center-dev {
  text-align: center;
  font-family: $headers-font;
  font-size: 29px;
  font-weight: bold;
  color: gray;
  margin-bottom: 16px;
}

.card-chat {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.container-chats {
  margin: 100px 5px 5px 5px;
}

.container-chatroom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.container.chatroom {
  margin-top: 60px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.card-chatroom {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid lightgray;
  border-radius: $border-radius;
  list-style: none;
  width: 90%;
  font-size: 36px;
  // padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #aedac5;
}

.card-chatroom a {
  color: gray;
}

.participants {
  font-size: 10px;
  color: gray;
}

.poubelle {
  font-size: 20px;
  margin: 0;
}

.card-chatroom > img {
  height: 40px;
}

.baby-participants-names{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-chat {
  padding: 0 10px;
  background-color: $chat-background-green;
}

#chatroom_name {
  width: 82%;
  margin: 35px auto;
  background-color: $input-background-green;
}

#new_message {
  position: fixed;
  bottom: 0;
  z-index: 20;
  background-color: white;
  width: 100%;
  padding: 10px;
}
