.select-children {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;

  a:hover {
    color: #828282
  }
}

.edit_feedback {
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.select-child-feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin: 5px;
  border-radius: $border-radius;
  background-color: white;
  border: 1px solid white;

  &:hover {
    border: 1px solid $main-green;
  }
}

.feed-background-green {
  background-color: $main-green;
  border: 1px solid $main-green;
}

.feedback-card, .feedback-card-food {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0 10px 0;
  margin: 5px;
}

.feedback-card-food {
  border-top: 1px solid $card-border-grey;
  border-bottom: 1px solid $card-border-grey;
}

.feedback-rating {
  display: flex;
  justify-content: center;
}

.feedback-note {
  flex-direction: column;
  margin-left: 0;
}

.feedback-note-icon {
  margin-bottom: 5px;

  i {
    color: #828282;
  }
}

.button-feedback {

  input.btn {
    font-size: 18px;
    padding: 6px 10px;
    background-color: $main-green;
  }
}
