@import "components/parent_feedbacks";

.select-children {
  display: flex;
  justify-content: space-around;
}

.select-child-feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin: 5px;
  border-radius: $border-radius;
  background-color: white;

  p {
    margin: 10px 0 0 0;
  }

}
