.avatar {
  border-radius: 50%;
}

.avatar-profile {
  border-radius: 50%;
  position: absolute;
  top: 100px;
  border: 4px solid white;
}

.profile-name {
  margin-top: 54px;
  margin-bottom: 30px;
}

.center-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-garderie {
  border-radius: $border-radius;
  background-color: white;
  height: 160px;
  width: 352px;
  text-align: center;
  padding: 20px;
  line-height: 36px;
  margin: 0 auto;
}


.card-attente {
  border-radius: $border-radius;
  background-color: white;
  height: 160px;
  width: 352px;
  text-align: center;
  padding: 20px;
  line-height: 36px;
  margin-bottom: 20px;
  overflow: scroll;
}

.card-bio {
  border-radius: $border-radius;
  background-color: white;
  height: 160px;
  width: 352px;
  text-align: center;
  padding: 20px;
  line-height: 20px;
  margin-bottom: 20px;
  overflow: scroll;
  position: relative;
}


.button-green {
  background-color: #aedac5;
  border-radius: $border-radius;
  border: none;
  padding: 5px;
  margin: 0 8px;
}

.cards-avatars {
  display: flex;
  justify-content: space-evenly;
}

.name-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-plus {
  border: none;
  background-color: $button-green;
  text-align: center;
  border-radius: 10%;
  color: white;
  font-weight: bolder;
  position: fixed;
  bottom: 18vh;
  right: 5.5vh;
  height: 50px;
  width: 50px;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.button-plus:hover {
  background-color: transparent;
  border: 1px solid;
  color: $button-green;
  transition: all .3s;
}

.fond {
  background-color: $main-green;
  width: 100%;
  height: 80px;
  position: relative;
}

.card-icon-profile {
  position: absolute;
  top: 20px;
  right: 10px;

  i {
    color : $grey;
    cursor: pointer;
    margin: 0 10px;
    font-size: 18px;

    &:hover {
      color : $button-green;
    }
  }
}
