.container-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  height: 600px;
}

.logo-login {
  display: flex;
  flex-direction: column;
  height: 100%;

  img {
    object-fit: cover;
    height: 100px;
  }

  p {
    font-size: 40px;
    font-family: Pacifico;
  }
}

.links-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-title {
  font-family: $body-font;
  text-align: center;
  color: lightslategray;
}

.choice {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
}
