<!-- Button trigger modal -->
<p class="card-icon-profile" data-bs-toggle="modal" data-bs-target="#bio"><i class="fa-regular fa-pen-to-square"></i></p>


<!-- Modal -->
<div class="modal fade" id="bio" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel">Ma Bio</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= simple_form_for current_user do |f| %>
        <div class="modal-body">
              <%= f.input :bio, label: false %>
        </div>
        <div class="modal-footer">
          <%= f.button :submit, "Valider" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
