<div class="navbar navbar-expand-sm navbar-light navmenu">
  <div class="container-fluid">
    <div class="navmenu-icon">
    <%= link_to "<i class='fa-solid fa-house'></i>".html_safe, posts_path %>
      <p>Accueil</p>
    </div>
    <div class="navmenu-icon">
      <i class="fa-solid fa-right-left"></i>
      <p>Transmission</p>
    </div>
    <div class="navmenu-icon">
      <i class="fa-regular fa-folder-open"></i>
      <p>Documents</p>
    </div>
  </div>
</div>
