<div class="navbar navbar-expand-sm navbar-light navmenu background-white">
  <div class="container-fluid">
    <div class="navmenu-icon" >
    <%= link_to "<i class='fa-solid fa-house'></i>".html_safe, posts_path %>
      <p>Accueil</p>
    </div>
    <div class="navmenu-icon">
      <%= link_to "<i class='fa-solid fa-right-left'></i>".html_safe, feedbacks_path %>
      <p>Transmission</p>
    </div>
    <div class="navmenu-icon">
      <%= link_to '<i class="fa-regular fa-folder-open"></i>'.html_safe, papers_path %>
      <p>Documents</p>
    </div>
  </div>
</div>
