<div class="navbar navbar-expand-sm navbar-light navmenu">
  <div class="container-fluid">
    <i class="fa-solid fa-house"></i>
    <i class="fa-solid fa-right-left"></i>
    <i class="fa-regular fa-folder-open"></i>
  </div>
</div>
