<%= turbo_frame_tag "papers", class: "feedback-card" do %>
  <% papers.each do |paper| %>
    <div class="paper-link">
      <%= link_to paper.name.capitalize, child_paper_path(child, paper), data: {turbo: "false"} %>
      <%= link_to '<i class="fa-regular fa-trash-can"></i>'.html_safe, paper_path(paper), data: { turbo_method: :delete, turbo_confirm: "Êtes vous sûr ?" } %>
    </div>
  <% end %>
  <div class="paper-button"><%= link_to "Ajouter un document", new_paper_path, class: "button", data: {turbo: "false"} %></div>
<% end %>
