.plus {
  background-color: $green;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  position: fixed;
  bottom: 100px;
  right: 580px;
  z-index: 5;
}

.plus:hover {
  border: 1px solid;
  color: $green;
  transition: all .3s;
}
