.plus {
  background-color: $button-green;
  text-align: center;
  border-radius: 10%;
  color: white;
  font-weight: bolder;
  font-size: 34px;
  // position: fixed;
  top: 72vh;
  left: 75vw;
  height: 50px;
  width: 50px;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.plus:hover {
  border: 1px solid;
  color: $button-green;
  transition: all .3s;
}
