.card-container {
display: flex;
flex-direction: column;
flex: 1 0 auto;
border: 1px solid $card-border-grey;
margin: 10px 0;
padding: 10px;
border-radius: $border-radius;
box-shadow: 23px 19px 14px -18px rgba(0,0,0,0.1);

p {
  font-size: $content-font-size;
}

}

.post-content {
  margin: 8px 0;

  .container-avatar {
    display: flex;
  }

    .avatar-name {
      margin-right: 5px;
    }

    .post-child-avatar {
      margin-top: 8px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }

    p {
      line-height: normal;
      margin: 0;
    }

    .child-name {
      font-size: $avatar-name-font-size;
      text-align: center;
    }
}
