.card-container {
display: flex;
flex-direction: column;
flex: 1 0 auto;
// border: 1px solid $card-border-grey;
margin: 10px 0;
padding: 10px;
border-radius: $border-radius;
box-shadow: 23px 19px 14px -18px rgba(0,0,0,0.1);
background-color: white;
}

.post-content {
  line-height: normal;
  font-weight: 500;
  font-size: $content-font-size;
  margin: 8px 0 2px 0;
}

.post-date {
  color: $grey;
  margin: 0;
  font-size: $date-font-size;
  margin-bottom: 8px;
}

.container-avatar {
  display: flex;

  .avatar-name {
    margin: 0 5px;
  }

  .post-child-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .child-name {
    font-size: $avatar-name-font-size;
    text-align: center;
    margin: 0;
  }
}

.card-icon {
  i {
    color : $grey;
    cursor: pointer;
    margin: 0 10px;
    font-size: 18px;

    &:hover {
      color : $button-green;
    }
  }
}

.icon-green {
  color: $button-green;
}

.icon-grey {
  color : $grey;
}

.icons-update-delete {
  display: flex;
}

.container-avatars-update-destroy {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid $card-border-grey;
}
