.btn {
  font-size: $com-font-size;
  padding: 0 0 0 2px;
  color: $grey;
}

.form-post-header {
  display: flex;
  align-items: center;
  margin-left: 10px;
  min-height: 10px;
}

.valider {
  color: $grey;
  border-radius: $border-radius;
  background-color: $button-green;
  padding:  6px 10px;

  &:hover {
    border: 1px solid $button-green;
    color: $button-green;
  }
}

.children-post-select{
  display: flex;
  justify-content: space-evenly;
}

.form-check-label {
  display: flex;
  flex-direction: column;
}
