.navbar-lewagon {
  justify-content: space-between;
  background: $main-green;
  z-index: 10;
  top: 0;
  // position: sticky;
  width: 100%;
}

.d-none {
  display: none;
  transition: 0.5s;
}

.logo-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  font-size: $avatar-name-font-size;

  .text-logo {
    margin-left: 10px;
    padding: 0;
    margin-bottom: 0;
    font-size: 18px;
    font-family: 'Pacifico', cursive;
    line-height: 1em;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.avatar-relative {
  position: relative;
}

.navbar-nav .dropdown-menu {
  position:absolute
}
