.navbar-lewagon {
  justify-content: space-between;
  background: $main-green;
  z-index: 10;
  top: 0;
  position: sticky;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
