.navmenu {
  justify-content: space-between;
  background: $main-green;
  z-index: 10;
  bottom: 0;
  position: fixed;
  height: 80px;
  width: 388px;
  padding: 0 10px;
  flex-grow: 0;
  flex-shrink: 0;
}

.navmenu-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $grey;
}
