.container-photos {
  margin-top: 10px;
}

.card-image {
  object-fit: cover;
  width: 100%;
}

.card-even {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}

.card-odd {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
}

.card-even-image {
  object-fit: cover;
  width: 100%;
  max-height: 100px;
}

.card-odd-image {
  object-fit: cover;
  width: 100%;
  max-height: 70px;
}
