// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "config/variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "pages/index";

.main-container {
  display: flex;
  flex-direction: column;
  height: 844px;
  width: 390px;
  margin: 0 auto;
  border: 1px solid rgb(190, 189, 189);
  font-family: $base-font;
  height: 100%;
}
